#upperBar{
    position: relative;
    background:linear-gradient(to right, #043959, #007017);
    width: 100%;
    height: 100px;
}
#menu{
    position: absolute;
    background-color: #101517;
    width: 94%;
    height: 60%;
    top: 20%;
    left: 3%;
}
#graph{
    position: relative;
    width:50%;
    height:700px;
    background-color: #fafafa;
    float: left;
    margin-top: 0%;
}
#noticeBoard{
    position: relative;
    width:50%;
    height:700px;
    background-color: #fafafa;
    float: right;
    margin-top: 0%;
}
#title{
    margin-top: 10%;
}
#content{
    position: absolute;
    background-color: #fafafa;
    width: 94%;
    height: 500px;
    left: 3%;
    border: 1px solid black;
}
html { box-sizing: border-box; }

        *, *:before, *:after { box-sizing: inherit; }

        body {
            background: #fafafa;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            margin: 0;
        }

        a { text-decoration: none; }

        .container {
            width: 1000px;
            margin: auto;
        }

        h1 { text-align:center; margin-top:150px;}

        /* Navigation Styles */

        nav { background: #101517; }

        nav ul {
            font-size: 0;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline-block;
            position: relative;
        }

        nav ul li a {
            color: #fff;
            display: block;
            font-size: 14px;
            padding: 15px 14px;
            transition: 0.3s linear;
        }

        nav ul li:hover { background: #126d9b; }

        nav ul li ul {
            border-bottom: 5px solid #2ba0db;
            display: none;
            position: absolute;
            width: 250px;
        }

        nav ul li ul li {
            border-top: 1px solid #444;
            display: block;
        }

        nav ul li ul li:first-child { border-top: none; }

        nav ul li ul li a {
            background: #373737;
            display: block;
            padding: 10px 14px;
        }

        nav ul li ul li a:hover { background: #126d9b; }

        nav .fa.fa-angle-down { margin-left: 6px; }

